* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: rgb(3, 44, 80);
  text-align: center;
  font-size: 25px;

}

.pokemon-list {
  list-style-type: none;
}

header {
  margin-right: 0%;
}

.page-header__item {
  flex: 0 1 200px;
  padding-bottom: 35px;
}

.button-class:active {
  background-color: rgb(129, 141, 241);
  box-shadow: 0 5px rgb(184, 236, 234);
  transform: translateY(2px);
}

.button-class:hover {
  background-color: rgb(236, 219, 169)
}

h1 {
  font-family: sans-serif;
  font-size: 50px;
  line-height: 1.3;
  width: 100%;
  padding: 30px;
  text-align: center;
  color: white;
}

h2 {
  color: aqua;
}

ul {
  list-style-type: none;
}

.container {
  display: grid;

}



#modal-container {
  display: none;
}

.modal h1 {
  margin-top: 0;
  color: rgb(207, 233, 185);
}

.modal p {
  margin-bottom: 0;
  color: rgb(224, 238, 198);
}

#modal-container {
  display: none;
}

.image-container {
  display: flex;
  justify-content: center;
}

.Pokeheight,
.Poketype,
.Pokename {
  text-align: center;
}

.Pokeheight,
.Poketype {
  font-size: 20px;
}

.Pokename {
  font-size: 30px;
}




.list-group-item {
  background-color: #05ff93;
  text-align: center;
  position: relative;
  font-family: inherit;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.4s;
}

li {
  flex: 1 1 0;
  padding: 10px;
}

footer {
  clear: both;
  height: 50px;
  width: 50%;
  display: block;
  width: 100vw;
  max-width: 100%;
  position: fixed;
  background-color: rgb(38, 107, 235);
  opacity: 60%;
  text-align: right;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .button-class {
    width: 100%;
  }

  .page-header__item {
    width: 100%;
  }

  @media all and (min-width: 500px) and (max-width: 740px) {
    .grid {
      -ms-grid-columns: 1fr 18px 1fr;
      grid-template-columns: 1fr 1fr;

    }

    .page-header__item {
      width: 100%;
    }
  }

  @media all and (max-width: 740px) {
    .grid {
      grid-gap: 10px;
    }

    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }

    .button-class {
      width: 40%;
    }

    .page-header__item {
      width: 100%;

    }
  }
}